{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Regestrion</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <form method="post">
            {% csrf_token %}
            <label for="un">USERNAME</label>
            <input type="text" name="un" id="un">
            <br><br>
            <label for="pw">PASSWORD</label>
            <input type="password" name="pw" id="pw">
            <br><br>
            <input type="submit" value="login" class="btn btn-success">

        </form>
    </div>
</div>
{% endblock %}